/build/
/build*/  

*.o
*.obj
*.lo
*.la
*.slo

*.ptx
*.cubin
*.fatbin
*.sass

*.a
*.so
*.so.*
*.dylib

*.out
*.exe
sort

*.d

*.log

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.nvvp
*.prof

# remove perf files
*perf*